DB_USER = whatsnap
DB_PASSWORD = your_password
DB_NAME = whatsnap_bot_db
DB_HOST=localhost
DB_PORT=5432

VM_PG_USER = whatsnap
VM_PG_PASSWORD = 129074n456385hh11bifta

GEMINI_KEY = your_gemini_key
GEMINI_NAME = bot-parser
GEMINI_PROJECT_NAME = projects/1234567891234
GEMINI_PROJECT_NUMBER = 1234567891234

GMAIL_PASSWORD = your_gmail_password
GMAIL_APP_PASSWORD = asdfasdfasdfasdf
GMAIL_ADDRESS = johnappleseed@gmail.com

WHATSAPP_TOKEN = your_meta_cloud_whatsapp_token
WHATSAPP_PHONE_ID = your_whatsapp_phone_number_id
WHATSAPP_VERIFY_TOKEN = your_custom_webhook_verify_token

STRIPE_WEBHOOK_SECRET = whsec_...
